@import url('https://fonts.googleapis.com/css?family=Montserrat');

.changepass-form{
  padding: 20px 20px 20px 20px;
  background-color: #343434;
  color:white;
  border-radius: 30px;
  width:60%;
  margin-left:200px;
  text-align:center;
}

.changepass-form input{
  display:block;
  margin: 0 auto; /*Centers all input fields*/
}

.changepass-form input:focus{
  background-color: lightblue;
}

.changepass-form label{
  display:block;
  margin-top:20px; /*Change to top if desired*/
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}

.changepasswords{
  display:block;
  padding-left:210px;
  margin-bottom:20px;
}

.changepasswords label{
  text-align:left;
  margin-left:10px;
}

.changepasswords input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius:5px;
  width:60%;
}


.checkboxeschangepassword{
  display: flex;
  width: 50%;
  padding-left:210px;
}

.checkboxeschangepassword input{
  margin:0;
  margin-right:10px;
}

.changepassbutton{
  padding-top:40px;
  text-align:center;
}
.changepassbutton button{
  width:60%;
  padding: 16px 20px;
  border-radius:5px;
  border:none;
  cursor:pointer;
  transition-duration:0.4s;
}

.changepassbutton button:hover{
  background-color:#0a2a5e;
  color:white;
}

.changepasstext{
  margin-bottom:50px;
}
